<div class="create-category-container">
    <h2>Crear Nueva Categoría</h2>
    <form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
      <div>
        <label for="name">Nombre de la Categoría:</label>
        <input type="text" id="name" name="name" [(ngModel)]="category.name" required minlength="1" maxlength="50">
      </div>
  
      <div>
        <label for="description">Descripción:</label>
        <textarea id="description" name="description" [(ngModel)]="category.description" required maxlength="90"></textarea>
      </div>
  
      <button type="submit" [disabled]="!categoryForm.form.valid">Crear Categoría</button>
    </form>
  </div>
  