// Variables de color
$color-border: var(--color-border);
$color-text-active: #9D3FE7;
$color-text-default: #4A4A4A;

/* Contenedor del formulario */
.create-brand-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  /* Estilos para los inputs */
  input, 
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $color-border;
    margin-bottom: 10px;
    font-size: 14px;
  }

  /* Estilo del botón de crear marca */
  app-button {
    width: 100%;
    margin-top: 10px;

    &.btn-create {
      width: auto; /* Permite que el botón se ajuste al contenido */
      margin-top: 10px;
    }
  }
}

